@mixin flexBox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin flexRow {
  @include flexBox;
  -webkit-flex-flow: row;
  flex-flow: row;
}
@mixin flexWrapRow {
  @include flexBox;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}
@mixin flexColumn {
  @include flexBox;
  -webkit-flex-flow: column;
  flex-flow: column;
}
html{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
body{
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
}
li{
  list-style: none;
}
.wrapper {
  @include flexWrapRow;
  height: 100vh;
}

.wrapper > * {
  padding: 0;
  flex: 1 100%;
}

.header {
  background: #333;
  color: ghostwhite;
  font-size: 6vh;
  line-height: 12vh;
}

.footer {
  background: #333;
  color: ghostwhite;
}

.playground {
  position: relative;
  text-align: left;
  background: white;
}

.options {
  background: #222;
  color: ghostwhite;
  border: 5px solid #555;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  padding: 5px;
  @include flexWrapRow;
  justify-content: space-around;
}
.styleselection{
  flex: 1;
  order: 1;
  height: 80vh;
  border: 5px solid #333;
  overflow-y: scroll;
  -webkit-scrollbar-track-piece: blue;
}
.styleoutput{
  flex: 1;
  order: 2;
  height: 80vh;
  border: 5px solid #333;
}
.output{
  background:grey;
  border-radius: 5px;
  padding: 5px;
}

#hook {
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

#hook > *:hover {
  cursor: pointer;
}
@media all and (min-width: 600px) {
  .options { flex: 1 auto; }
}

@media all and (min-width: 800px) {
  .playground { flex: 3 0px; }

  .header{height: 10vh;}
  .options {
    order: 1;
    height: 80vh;
    max-width: 40%;
    }
  .playground {
    order: 2;
    height: 80vh;}
  .footer {
    order: 3;
    height: 10vh;
  }
}
